<!-- Inspiro Slider -->
<div id="slider" class="inspiro-slider dots-creative" data-height-xs="360">
  <!-- Slide 2 -->

  <div class="slide kenburns" style="background-image:url('assets/images/about/parallax-1.jpg'); padding-top:25px">
    <div class="bg-overlay"></div>
    <div class="container">
      <div class="slide-captions text-center text-light">
        <!-- Captions -->
        <span class="strong fadeInUp" style="opacity: 1; animation-duration: 600ms;" class="strong">Who we are</span>
        <h1 style="opacity: 1; animation-duration: 600ms;" class="fadeInUp">About Auto Val</h1>
        <!-- end: Captions -->
      </div>
    </div>
  </div>
  <!-- end: Slide 2 -->

</div>
<!--end: Inspiro Slider -->




<section>
  <div class="container">
    <div class="row">
      <div class="col-lg-3">
        <div class="heading-text heading-section">
          <h2>THE DREAM</h2>

        </div>
      </div>
      <div class="col-lg-9">
        <div class="row">
          <div class="col-lg-6">We want to be a always FREE car market. Firs for Europe then for the whole world </div>

          <div class="col-lg-6">We collect cars from other car markets so you can find your dream car in one place.</div>

        </div>
      </div>

    </div>
  </div>
</section>


<section class="box-fancy section-fullwidth text-light p-b-0">
  <div class="row">
    <div style="background-color:#917d5d" class="col-lg-4">
      <h1 class="text-lg text-uppercase">01.</h1>
      <h3>Attention</h3>
      <span>Finding a great used car for a great price can be a difficult process. To make it easier, we've partnered with a number of the best used car dealers to provide you with a streamlined list of cars to choose from</span>
    </div>

    <div style="background-color:#a08c6c" class="col-lg-4">
      <h1 class="text-lg text-uppercase">02.</h1>
      <h3>Interest</h3>
      <span>Quick search, hassle-free experience. The perfect choice for those who want to shop for their next car but don't want the hassle of visiting multiple lots to find what they're looking for. Simply enter your zip code and we'll help connect you with the best used car options near you. </span>
    </div>

    <div style="background-color:#ad9979" class="col-lg-4">
      <h1 class="text-lg text-uppercase">03.</h1>
      <h3>Desire</h3>
      <span>Find what you're looking for, quickly and conveniently. You can rest assured that we only partner with the most reputable, quality dealers in your area and will provide you with options and pricing at your fingertips.
</span>
    </div>
  </div>
</section>

<section class="background-grey">
  <div class="container">
    <div class="heading-text heading-section text-center">
      <h2>OUR TEAM</h2>
      <span class="lead">We are hiring. If you are interested please send us an email. </span>
    </div>
    <div class="row team-members team-members-shadow m-b-40">
      <div class="col-lg-3">
        <div class="team-member">
          <div class="team-image">
            <img src="assets/images/team/99.jpg" style="width:250px;">
          </div>
          <div class="team-desc">
            <h3>Csegedi Szabolcs Botond</h3>
            <span>Software Developer</span>
            <p>For complete CV please check out my Linkedin profile</p>
            <div class="align-center">
              <a class="btn btn-xs btn-slide btn-light" href="https://www.linkedin.com/in/szuperszabi/" data-width="118">
                <i class="fab fa-linkedin"></i>
                <span>Linkedin</span>
              </a>
              <a class="btn btn-xs btn-slide btn-light" href="mailto:szuperszabi@gmail.com" data-width="80">
                <i class="icon-mail"></i>
                <span>Mail</span>
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-3">

      </div>
      <div class="col-lg-3">

      <div class="col-lg-3">

      </div>
    </div>
  </div>
  </div>
</section>

