<!-- Page title -->
<section id="page-title" data-bg-parallax="assets/images/parallax/5.jpg" style="background-image: url('assets/images/parallax/5.jpg')">
  <div class="container">
    <div class="page-title">
      <h1 style="color: white;">Contact Auto-val.com</h1>
      <span></span>
    </div>
    <div style="color: white;" class="breadcrumb" >
      <ul>
        <li><a href="/">Home</a> </li>
        <li class=""><a href="/contact">Contact Us</a> </li>
      </ul>
    </div>
  </div>
</section>
<!-- end: Page title -->
<!-- CONTENT -->
<section>
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <h3 class="text-uppercase">Get In Touch</h3>
        <p>We are happy to respond any questions you might have. Feel free to send us an <a class="btn-link" href="mailto:office@auto-val.com">email</a></p>

      </div>
      <div class="col-lg-6">
        <h3 class="text-uppercase">Address </h3>
        <div class="row">
          <div class="col-lg-6">
            <address>
              <strong>Auto-val.com.</strong><br>
              Subpadure 1C<br>
              Livezeni<br>
              <h4 title="Phone">P:</h4> (+40) 077-3980829
            </address>
          </div>
          <div class="col-lg-6">
            <address>
              <strong>Email</strong><br>
              <a href="mailto:office@auto-val.com">office@auto-val.com</a><br>
            </address>
          </div>
        </div>
        <!-- Google Map -->
        <div class="map" data-latitude="-37.817240" data-longitude="144.955826" data-style="light" data-info="Hello from &lt;br&gt; Inspiro Themes"></div>
        <!-- end: Google Map -->
      </div>
    </div>
  </div>
</section>
<!-- end: Content -->
