<!-- Header -->
  <header id="header" data-fullwidth="true">
    <div class="header-inner">
      <div class="container">
        <!--Logo-->
        <div id="logo">
          <a href="index.html" class="logo" data-src-dark="assets/images/logo-dark.png">
            <img src="assets/images/logo.png" alt="Polo Logo">
          </a>
        </div>
        <!--End: Logo-->

        <!--Navigation Resposnive Trigger-->
        <div id="mainMenu-trigger">
          <button class="lines-button x"> <span class="lines"></span> </button>
        </div>
        <!--end: Navigation Resposnive Trigger-->

        <!--Navigation-->
        <div id="mainMenu" class="light">
          <div class="container">
            <nav>
              <ul>
                <li><a href="index.html">Home</a></li>
                <li><a href="/contact">Contact</a></li>
                <li><a href="index.html">Home</a></li>
                <li><a href="index.html">Home</a></li>
              </ul>

            </nav>
          </div>
        </div>
        <!--end: Navigation-->
      </div>
    </div>
  </header>
  <!-- end: Header -->




