<!-- Header -->



    <!-- Header -->
    <div class="icon-bar">
      <a [ngClass]="isUrl== '' ? 'active' : 'not_active'" href="#" alt="Home"><i class="fa fa-home"></i></a>
      <a [ngClass]="isUrl== 'blog' ? 'active' : 'not_active'" href="/blog"><i class="fa fa-blog"></i></a>
      <a [ngClass]="isUrl== 'contact' ? 'active' : 'not_active'" href="/contact"><i class="fa fa-envelope"></i></a>
      <a [ngClass]="isUrl== 'about' ? 'active' : 'not_active'"href="/about"><i class="fa fa-address-card"></i></a>
      <a [ngClass]="isUrl== 'cars' ? 'active' : 'not_active'"href="/cars"><i class="fa fa-car"></i></a>
    </div>
    <!-- end: Header -->



  <!-- end: Header -->




