<!-- Content -->
    <!-- post content -->
    <!-- Page title -->
    <div class="page-title">
      <h1>Latest News</h1>
      <div class="breadcrumb float-left">
        <ul>
          <li><a href="/">Home</a>
          <li class=""><a href="/blog">Automotive News</a>
          </li>
        </ul>
      </div>
    </div>
    <!-- end: Page title -->
    <!-- Blog -->
    <div class="post-1-columns m-b-30">
      <!-- Post item-->
      <div *ngFor="let x of news" class="post-item border">
        <div class="post-item-wrap">
          <div class="post-image">

            <span class="post-meta-category"><a href="">{{x.author}}</a></span>
          </div>
          <div class="post-item-description">
            <span class="post-meta-date"><i class="fa fa-calendar-o"></i>{{x.published_date}}</span>
            <span class="post-meta-comments"><a href=""><i class="fa fa-comments-o"></i>{{x.rights}}</a></span>
            <h2><a href="#">{{x.title}}
            </a></h2>
            <span><img src="{{x.media}}" alt=""></span>
            <p>{{x.summary}}</p>
          </div>
        </div>
      </div>
      <!-- end: Post item-->

    </div>
    <!-- end: Blog -->

  <!-- end: post content -->
<!-- end: Content -->
